##### NETWORKS #####
networks:
  default:
    driver: bridge
  t3_proxy:
    name: t3_proxy
    driver: bridge
    ipam:
      config:
        - subnet: 10.2.0.0/16

##### SECRETS #####
secrets:
  basic_auth_credentials:
    file: $DOCKER_DIR/secrets/basic_auth_credentials
  cf_dns_api_token:
    file: $DOCKER_DIR/secrets/cf_dns_api_token
  oauth_secrets:
    file: $DOCKER_DIR/secrets/oauth_secrets
  plex_claim_token:
    file: $DOCKER_DIR/secrets/plex_claim_token

include:
  ##### SERVICES #####
  # Reverse proxy
  - compose/reverse-proxy/compose.traefik.yml
  - compose/reverse-proxy/compose.oauth.yml
    
  # Media containers
  - compose/media-server/compose.handbrake.yml
  - compose/media-server/compose.overseerr.yml
  - compose/media-server/compose.plex.yml
  - compose/media-server/compose.prowlarr.yml
  - compose/media-server/compose.radarr.yml
  - compose/media-server/compose.recyclarr.yml
  - compose/media-server/compose.sabnzbd.yml
  - compose/media-server/compose.sonarr.yml
  - compose/media-server/compose.tautulli.yml
  - compose/media-server/compose.transmission.yml
  - compose/media-server/compose.homarr.yml
  
  # Game containers
  - compose/game-servers/mc-allthemods9.yml

  # Other containers
  - compose/server/compose.mongo.yml
  - compose/server/compose.postgres.yml
  - compose/server/compose.adminer.yml
  - compose/server/compose.mdns-repeater.yml
  - compose/server/compose.home-assistant.yml
  - compose/server/compose.exportarr.yml
  - compose/server/compose.grafana.yml
  - compose/server/compose.paperless.yml
  - compose/server/compose.prometheus.yml
  - compose/server/compose.telegraf.yml
  - compose/server/compose.nextcloud.yml
  - compose/server/compose.unifi.yml
  - compose/server/compose.zigbee2mqtt.yml
  - compose/server/compose.emqx.yml
  - compose/server/compose.backrest.yml
