name: Update env file

on:
  push:
    branches: ["main"]
    paths: ['.github/workflows/compose-update-env.yml']

env:
  TARGET_DIRECTORY: /opt

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: SSH | Write env
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        port: ${{ secrets.SSH_PORT }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        passphrase: ${{ secrets.SSH_PASSPHRASE }}
        script: |
          cd ${{ env.TARGET_DIRECTORY }}
          
          echo 'PUID=${{ secrets.PUID }}' > .env
          echo 'PGID=${{ secrets.PGID }}' >> .env
          echo 'TZ=${{ secrets.TZ }}' >> .env
          echo 'DOCKER_DIR=${{ secrets.DOCKER_DIR }}' >> .env
          echo 'CONF_DIR=${{ secrets.CONF_DIR }}' >> .env
          echo 'CLOUD_DIR=${{ secrets.CLOUD_DIR }}' >> .env
          echo 'MEDIA_DIR=${{ secrets.MEDIA_DIR }}' >> .env
          echo 'DOWNLOAD_DIR=${{ secrets.DOWNLOAD_DIR }}' >> .env
          echo 'DMS_DIR=${{ secrets.DMS_DIR }}' >> .env
          echo 'DOWNLOAD_DIR=${{ secrets.DOWNLOAD_DIR }}' >> .env
          echo 'HOSTNAME=${{ secrets.HOSTNAME }}' >> .env
          echo 'DOMAINNAME_1=${{ secrets.MEELSNET_DOMAIN }}' >> .env
          echo 'LOCAL_IPS=${{ secrets.LOCAL_IPS }}' >> .env
          echo 'CLOUDFLARE_IPS=${{ secrets.CLOUDFLARE_IPS }}' >> .env
          echo 'VPN_PROVIDER=${{ secrets.VPN_PROVIDER }}' >> .env
          echo 'VPN_USERNAME=${{ secrets.VPN_USERNAME }}' >> .env
          echo 'VPN_PASSWORD=${{ secrets.VPN_PASSWORD }}' >> .env
          echo 'TRAEFIK_AUTH_BYPASS_KEY=${{ secrets.TRAEFIK_AUTH_BYPASS_KEY }}' >> .env
          echo 'CF_API_KEY=${{ secrets.CF_API_KEY }}' >> .env
          echo 'PSQL_DBPASS=${{ secrets.PSQL_DBPASS }}' >> .env
          echo 'MONGO_DBUSER=${{ secrets.MONGO_DBUSER }}' >> .env
          echo 'MONGO_DBPASS=${{ secrets.MONGO_DBPASS }}' >> .env
          echo 'SONARR_API_KEY=${{ secrets.SONARR_API_KEY }}' >> .env
          echo 'RADARR_API_KEY=${{ secrets.RADARR_API_KEY }}' >> .env
          echo 'PROWLARR_API_KEY=${{ secrets.PROWLARR_API_KEY }}' >> .env
          echo 'SABNZBD_API_KEY=${{ secrets.SABNZBD_API_KEY }}' >> .env
          echo 'INFLUXDB_USER=${{ secrets.INFLUXDB_USER }}' >> .env
          echo 'INFLUXDB_PASS=${{ secrets.INFLUXDB_PASS }}' >> .env
          echo 'PAPERLESS_DBNAME=${{ secrets.PAPERLESS_DBNAME }}' >> .env
          echo 'PAPERLESS_DBUSER=${{ secrets.PAPERLESS_DBUSER }}' >> .env
          echo 'PAPERLESS_DBPASS=${{ secrets.PAPERLESS_DBPASS }}' >> .env
          echo 'NEXTCLOUD_DBNAME=${{ secrets.NEXTCLOUD_DBNAME }}' >> .env
          echo 'NEXTCLOUD_DBUSER=${{ secrets.NEXTCLOUD_DBUSER }}' >> .env
          echo 'NEXTCLOUD_DBPASS=${{ secrets.NEXTCLOUD_DBPASS }}' >> .env
          echo 'NEXTCLOUD_ADMIN_USER=${{ secrets.NEXTCLOUD_ADMIN_USER }}' >> .env
          echo 'NEXTCLOUD_ADMIN_PASSWORD=${{ secrets.NEXTCLOUD_ADMIN_PASSWORD }}' >> .env
          echo 'UNIFI_DBNAME=${{ secrets.UNIFI_DBNAME }}' >> .env
          echo 'UNIFI_DBUSER=${{ secrets.UNIFI_DBUSER }}' >> .env
          echo 'UNIFI_DBPASS=${{ secrets.UNIFI_DBPASS }}' >> .env
          echo 'TRANSMISSION_USER=${{ secrets.TRANSMISSION_USER }}' >> .env
          echo 'TRANSMISSION_PASS=${{ secrets.TRANSMISSION_PASS }}' >> .env
          



